---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

// Example: Filter out content entries with `draft: true` only when building for production
const posts = await getCollection('casestudies', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

posts.sort((a, b) => a.data.order - b.data.order);

---

<Layout title="Alvar Sirlin, Front End Dev" section="case-studies">
<section id="case-studies"  class="page"  transition:name="cs" >
    <div class="control">

      <ul>
        {posts.map(post => (
 
          <li key={post.slug} class="flex gap-8 md:gap-28">
            <div>
              
            <h2><a class='effect' href={`/casestudies/${post.slug}`}>
              {post.data.title}
            </a></h2>
            <p>{post.data.description}</p>
            </div>
            <div>

            {post.data.cover && <Image transition:name=`thumb-${post.slug}` class="thumb" src={post.data.cover} alt="" />}
            </div>
          </li>
        ))}
    </ul>
  </div>

</section>
</Layout>


<style lang="stylus">
.thumb 
  width: 300px
  height: 200px
  object-fit: cover
  position: absolute
  Xright: 40%
  border-radius: 15px
  visibility: hidden
  opacity: 0
  transition: visibility 0s, opacity 0.3s linear
  
li  
  color: #fff
  margin: 15px 0 30px
 
a 
  font-size: 30px
  display: inline-block
  margin-bottom: 4px

li:has(a:hover) .thumb 
  visibility: visible
  opacity: 1

@media (max-width: 700px)
  .thumb  
     width 150px
     height 100px
  
  h2 a
    font-size 20px
</style>