---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry

export async function getStaticPaths() {
  const posts = await getCollection('casestudies');
  return posts.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop

const { entry } = Astro.props;
const { Content } = await entry.render();
const bgColor = entry.data.color;
const cover = entry.data.cover;


---

<Layout title="Alvar Sirlin, Front End Dev" bgColor={bgColor} section="case-studies">
    <div class="control prose page">
        <h1>{entry.data.title}</h1>
        
        {entry.data.tags && (
        <ul class='tags flex gap-2 list-none pl-0'>
            {entry.data.tags.map((tag) => (<li>{tag}</li> ))}
        </ul>
        )}

        
        <!-- <p>Written on: {frontmatter.date}</p>-->
    </div>
    <div class="hero" >

      {cover && <Image transition:name=`thumb-${entry.slug}`  class="hero__img" src={cover} alt="" />}
    </div>
  <div class="bgcolor">
    <div class="control prose">
      <Content />
    </div>
  </div>
</Layout>

<style define:vars={{bgColor}} lang="styl">

  .hero
    background var(--bgColor)
    background #000
    img 
      mask-image linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.005));

  
  .control 
    max-width 45rem
  

  .bgcolor {
    background-color: var(--bgColor);
  }

 ::marker {
    color: #000 !important
  }

</style>