---
import Layout from '../../layouts/Layout.astro';
import PostNav from '../../components/PostNav.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('casestudies');
  return posts.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop

const { entry } = Astro.props;
const { Content } = await entry.render();
const bgColor = entry.data.color;
const cover = entry.data.cover;


---


<script> 
    import {  
      setExternalLinks, 
      addClassToAnchorsInHeaders,
      toggleElBlur,
    } 
    from  '../../js/common'; 
    
    document.addEventListener("astro:page-load", () => {
        setExternalLinks();
        addClassToAnchorsInHeaders('effect');
        toggleElBlur('.hero');
    })
</script>




<Layout title=`${entry.data.title} | Alvar Web Development` bgColor={bgColor} section="case-studies">

  
  <PostNav />
  <div class="control prose case-study page">
      <h1>{entry.data.title}</h1>
      
      {entry.data.tags && (
      <ul class='tags flex flex-wrap gap-2 list-none pl-0'>
          {entry.data.tags.map((tag) => (<li>{tag}</li> ))}
      </ul>
      )}
      
      <!-- <p>Written on: {frontmatter.date}</p>-->
    </div>
    <div class="hero" >

      {cover && <Image transition:name=`thumb-${entry.slug}`  class="hero__img" src={cover} alt="" />}
    </div>
  <div class="bgcolor">
    <div class="control prose pb-32">
      <Content />
    </div>
  </div>
</Layout>

<style define:vars={{bgColor}} lang="styl">
  p, h1, h2, h3, span, div, a 
    overflow-wrap: break-word;
    word-break: break-word;
  
  .hero
    Xbackground var(--bgColor)
    display none
    filter: blur(4px);
    transition all 400 ease-in-out
    &:hover 
      cursor not-allowed
    img 
      width 100%
      Xmask-image: linear-gradient(180deg, transparent, #fff 14%);

  
  a.effect 
    text-decoration: none !important

  h1  
    margin-bottom 0
  
  .tags 
    margin-top 5px
    li
      padding-left 0
      padding-right 10px
      Xcolor #406997
      color #777
      Xfont-style italic
      text-transform lowercase
      overflow-wrap: none
      word-break: break-word
      line-height 1
      @media screen and (max-width: 400px) 
        margin 3px 0
      
  .control.prose 
    max-width 45rem
  

  .bgcolor 
    background-color var(--bgColor);
  

 ::marker 
    color #000 !important
  

</style>