---
import Image from "astro/components/Image.astro";

import { Debug } from 'astro:components';


const { frontmatter } = Astro.props;

import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'casestudies'>;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;

---

<section id="case-study" >
    <div class="control">
        <h1>{frontmatter.title}</h1>
        
        {frontmatter.tags && (
        <ul class='tags flex gap-2'>
            {frontmatter.tags.map((tag) => (<li>{tag}</li> ))}
        </ul>
        )}

        {post}
        
        <!-- <p>Written on: {frontmatter.date}</p>-->
    </div>
    
    <img src={frontmatter.cover} alt="" />

    <div class="bgcolor">
        <div class="control">
            <slot />
        </div>
    </div>
</section>

